@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Baro Barjakuzo</a>.</p>
</div>


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <td>ProductId</td>
                <td>ProductName</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>